.footer-container{
    background-color: #3e3ea1;
}
.logo{
    width: 110px;
    margin: 0 auto;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.footer-item{
    background-color: #5454c6;
    padding: 18px;
    border-radius: 10px;
}
.bg-input{
    background-color: #e0e0f9;
}

/* https://themetechmount.com/html/gimmer/service-one.html */
/* https://gymnasium-99909.web.app*/
/* https://gymnasium-99909.firebaseapp.com/ */
/* style={{ backgroundImage: `url(${banner})`}} */

/* 
img link
1 https://i.ibb.co/qgNwKrd/member-bg1.jpg
2 https://i.ibb.co/xLrfR8R/member-bg2.jpg
3 https://i.ibb.co/7STPcVB/member-bg3.jpg
*/